<!DOCTYPE html>
<html>
    <head th:replace="layout :: head('Projects')"></head>
    <body>
        <header>
            <div class="container">
                <div class="site-header">
                    <a class="logo" th:href="@{/}">InstaTeam</a>
                </div>
            </div>
        </header>
        <div th:replace="layout :: flash"></div>
        <nav th:replace="layout :: nav"></nav>
        <section>
            <div class="container wrapper">
                <form>
                    <label>Edit Collaborators: Website Project</label>
                    <ul class="checkbox-list">
                        <li><span class="primary">Developer</span>
                            <div class="custom-select">
                                <span class="dropdown-arrow"></span>
                                <select>
                                    <option value="#">Michael Pemulis</option>
                                    <option value="#">Name</option>
                                </select>
                            </div>
                        </li>
                        <li><span class="primary">Designer</span>
                            <div class="custom-select">
                                <span class="dropdown-arrow"></span>
                                <select>
                                    <option value="#">Don Gately</option>
                                    <option value="#">Name</option>
                                </select>
                            </div>
                        </li>
                        <li><span class="primary">QA</span>
                            <div class="custom-select">
                                <span class="dropdown-arrow"></span>
                                <select>
                                    <option value="#">Joelle Van Dyne</option>
                                    <option value="#">Name</option>
                                </select>
                            </div>
                        </li>
                        <li><span class="primary">DevOps</span>
                            <div class="custom-select">
                                <span class="dropdown-arrow"></span>
                                <select>
                                    <option value="#">Choose...</option>
                                    <option value="#">Name</option>
                                </select>
                            </div>
                        </li>
                    </ul>
                    <div class="actions">
                        <input type="submit" value="Save" class="button">
                        <a href="#" class="button button-secondary">Cancel</a>
                    </div>
                </form>
            </div>
        </section>
    </body>
</html>