<!DOCTYPE html>
<html>
<head th:replace="layout :: head('roles')"></head>
<body>
    <header>
        <div class="container">
            <div class="site-header">
                <a class="logo" th:href="@{/}">InstaTeam</a>
            </div>
        </div>
    </header>
    <div th:replace="layout :: flash"></div>
    <nav th:replace="layout :: nav"></nav>

    <section>
        <div class="container wrapper">
            <form th:action="@{${action}}" method="post" th:object="${role}">
                <input type="hidden" th:field="*{id}"/>
                <div>
                    <label for="role_name"> Role Name:</label>
                    <input th:class="${#fields.hasErrors('name')} ? 'error-input' : ''" type="text" name="role_name" th:field="*{name}" placeholder="Role Name"/>
                    <div class="error-message" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
                </div>
                <div class="actions">
                    <input type="submit" th:value="${submit}" class="button">
                    <a th:href="@{/roles}" class="button button-secondary">Cancel</a>
                </div>
            </form>
        </div>
    </section>

    <div th:replace="layout :: scripts"></div>
</body>
</html>