<!DOCTYPE html>
<html>
    <head th:replace="layout :: head('roles')"></head>
    <body>
        <header th:replace="layout :: header('Role', '/roles/add')"></header>
        <div th:replace="layout :: flash"></div>
        <nav th:replace="layout :: nav"></nav>

        <section>
            <div class="container wrapper">
                <form>
                    <h2>Manage Roles</h2>
                    <div>
                        <ul class="checkbox-list">
                            <li th:each="role : ${roles}">
                                <div class="role">
                                    <span class="primary" th:text="${role.name}">Role Name</span>
                                    <a class="edit" th:href="@{'/roles/' + ${role.id} + '/edit'}">
                                        <i class="material-icons">create</i>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <br>
                </form>
            </div>
        </section>

        <div th:replace="layout :: scripts"></div>
    </body>
</html>