<!DOCTYPE html>
<html>
<head th:replace="layout :: head('Collaborators')"></head>
<body>
    <header>
        <div class="container">
            <div class="site-header">
                <a class="logo" th:href="@{/}">InstaTeam</a>
            </div>
        </div>
    </header>
    <div th:replace="layout :: flash"></div>
    <nav th:replace="layout :: nav"></nav>

    <section>
        <div class="container wrapper">
            <form th:action="@{${action}}" th:method="${method}" th:object="${collaborator}">
                <input type="hidden" th:field="*{id}"/>
                <h2 th:text="${heading}">New Collaborator</h2>
                <br><br>
                <div>
                    <label for="collaborator_name">Collaborator Name</label>
                    <input th:readonly="${method} == 'delete'" th:class="${#fields.hasErrors('name')} ? 'error-input' : ''" type="text" name="collaborator_name" th:field="*{name}" placeholder="Collaborator Name"/>
                    <div class="error-message" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
                </div>
                <div>
                    <label for="collaborator_role">Collaborator Role</label>
                    <select th:readonly="${method} == 'delete'" th:class="${#fields.hasErrors('name')} ? 'error-input' : ''" name="collaborator_role" th:field="*{role.id}">
                        <option value="" disabled selected>Collaborator Role</option>
                        <option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.name}">Collaborator Role</option>
                    </select>
                    <div class="error-message" th:if="${#fields.hasErrors('role')}" th:errors="*{role}"></div>
                </div>
                <div class="actions">
                    <input type="submit" th:value="${submit}" class="button">
                    <a th:href="@{/collaborators}" class="button button-secondary">Cancel</a>
                </div>
            </form>
        </div>
    </section>

    <div th:replace="layout :: scripts"></div>
</body>
</html>